.logout__container {
    width: min(80vw, 600px);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--background-color-light);
    box-sizing: border-box;
}