.base_layout {
    background-color: var(--primary-color);
    min-height: 100vh;
}

.base_layout__header {
    background-color: var(--secondary-color);
    height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-text {
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

@media (max-width: 510px) {
    .header-text {
        display: none;
    }
}

.base_layout__footer {
    background-color: var(--secondary-color);
    height: 2rem;
}
