
.add_page {
    height: 95%;
}

.add__heading {
    font-size: xx-large;
}

.add__label {
    font-size: x-large;
    padding-right: 1rem;
}

.add__title {
    font-size: x-large;
    text-align: center;
}

.add__modal {
    min-width: 20rem;
}

.add__review {
    width: 70vw;
    font-size: 1.2rem;
}

.add__search {
    width: 15rem;
}

.rating__text {
    font-size: x-large;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

@media (max-width: 510px) {
    .add__label {
        display: none;
    }

}