
.search_page {
    width: 15rem;
}

.tile__text--primary {
    color: white;
    font-size: large;
    padding-right: 0.5rem;
}

.tile__text--secondary {
    color: var(--secondary-color);
    font-size: large;
    padding-right: 0.5rem;
}


.tile--primary {
    background-color: var(--secondary-color);
}

.tile--secondary {
    background-color: white;
    color: var(--secondary-color);
}
