:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #187ccf;
  --secondary-color: #105c9c;
  --background-color-light: #b6b6b6;
  --background-color-dark: #3b3b3b;
  --text-color: #ffffff;

  --large-text: 2rem;
  --big-test: 1.5rem;
  --medium-text: 1rem;
  --small-text: 0.8rem;
}

html, body {
  margin: 0;
  max-width: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    --background-color-light: #e1e1e1;
    --background-color-dark: #757575;
    --text-color: #2a2a2a;
  }
}

.primary_color {
  color: var(--primary-color)
}

.secondary_color {
  color: var(--secondary-color)
}

.bg_primary_color {
  background-color: var(--primary-color)
}

.bg_secondary_color {
  background-color: var(--secondary-color)
}

.bg_black {
  color: black;
}

.clickable {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

.line {
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0;
}

.box {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 8px gray;
  padding: 0.5rem;
  text-align: start;
  margin: 0.5rem;
  width: 95%;
}

.top_padding {
  padding-top: 0.5rem;
}

.large_text {
  font-size: xx-large;
  color: black;
}
