
.user__club_text {
    font-size: 1.3rem;
    padding-right: 0.5rem;
}

.user__review_heading {
    font-size: 2rem;
}

.user__empty_reviews_image {
    display: block;
    margin: 20px;
    height: auto !important;
    width: 15rem !important;
}

.user__empty_reviews_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}