
.movie__heading {
    font-size: xxx-large;
    margin-right: 0.7rem;
}

.movie__rating {
    border: 3px solid red;
    border-radius: 15px;
    padding: 0.2rem;
    background-color: white;
    font-size: xx-large;
    width: max-content;
}