
.custom_sider {
    position: sticky;
    top: 0;
    left: 0;
}

.sider__menu {
    position: sticky;
    top: 0;
    left: 0;
}

.ant-layout-sider-children {
    background-color: var(--primary-color) !important;
}

.ant-menu-item-selected {
    background-color: var(--secondary-color) !important;
}

.ant-menu {
    background-color: var(--primary-color) !important;
}

.ant-layout-sider-trigger {
    background-color: var(--secondary-color) !important;
}
