
.review_tile__rating {
    border: 3px solid red;
    border-radius: 15px;
    padding: 0.2rem;
    background-color: white;
}

.review_tile__heading {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.review_tile__review {
    max-height: 6.7rem;
    overflow: hidden;
}

.review_tile__username {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    font-size: large;
}
